@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

* {
  font-family: Outfit;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #fff;
}

#root {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.font-playfair {
  font-family: Playfair !important;
}